.results{
    margin-top:200px;
    h3{
        color:$color-blue;
        font-size:20px;
    }
    .line{
        border-bottom:1px solid $color-blue;
        width:400px;
        margin-top:15px;
        margin-bottom:30px;
    }
    h4{
        font-weight:600;
        color:$color-blue;
        margin-bottom:5px;
    }
    h5{
        color:$color-grey;
    }
    .result-bar{
        margin-top:20px;
    }
}